<!DOCTYPE html>
<html lang="PT-pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API REST | POST</title>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="../public/css/styles.css">
</head>
<body>
    <div class="bolaRed"></div>
    <div class="bolaWhite"></div>
    <div class="frame">
        <button class="close btn"><a href="/">x</a></button>
        <h1>POST DATA</h1>
        <form action="/new" method="post">
            <textarea name="title" id="title" class="text" placeholder="Title" required></textarea>
            <textarea name="content" id="content" class="text" placeholder="Content" required></textarea>
            <textarea name="type" id="type" class="text" placeholder="Type" required></textarea> 
            <input type="submit" value="Post" class="btn post">
        </form>
    </div>
    <% if (data) { %>
        <div class="frame f1">
            <h1><%= dataValew %></h1>
                <div class="data">
                    <p class="pData">ID: </p>
                    <p class="pContent"><%= data.id %></p>
                    <p class="pData">Title: </p>
                    <p class="pContent"><%= data.title %></p>
                    <p class="pData">Content: </p>
                    <p class="pContent"><%= data.content %></p>
                    <p class="pData">Type: </p>
                    <p class="pContent"><%= data.type %></p>
                    <a class="btn pd" href="/patch/<%= data.id %>">Patch</a>
                    <a class="btn pd d" href="/delete/<%= data.id %>">Delete</a>
                </div>
        </div>
    <% } %>
</body>
</html>